

  <div id="carouselExampleControls5" class="carousel slide" >
    <div class="carousel-inner" style="text-align: center;">
      <div class="carousel-item active">
        <img src="static/네이버_경제.png" class="d-block w-100" alt="...">
          
            <h5><b>경제</b></h5>
      </div>
      <div class="carousel-item">
        <img src="static/네이버_여행.png" class="d-block w-100" alt="...">
          
            <h5><b>여행</b></h5>
      </div>
      <div class="carousel-item">
        <img src="static/네이버_취미.png" class="d-block w-100" alt="...">
          
            <h5><b>취미</b></h5>
      </div>
      <div class="carousel-item">
        <img src="static/네이버_IT.png" class="d-block w-100" alt="...">
          
            <h5><b>IT</b></h5>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls5" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls5" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>