<h1>
  <center>
    IT 베스트셀러 분석
  </center>
</h1>
<div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
      <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="3" aria-label="Slide 4"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active" data-bs-interval="10000">
        <img src="static/best_it_2018.png" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h5>2018년</h5>
        </div>
      </div>
      <div class="carousel-item" data-bs-interval="10000"> 
        <img src="static/best_it_2019.png" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h5>2019년</h5>
        </div>
      </div>
      <div class="carousel-item" data-bs-interval="10000">
        <img src="static/best_it_2020.png" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h5>2020년</h5>
        </div>
      </div>
      <div class="carousel-item" data-bs-interval="10000">
        <img src="static/best_it_2021.png" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h5>2021년</h5>
        </div>
      </div>
    </div>
  </div>