<p>
    <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExampleNAVER" aria-expanded="false" aria-controls="collapseExample">
      최신 도서 분석
    </button>
  </p>
  <div class="collapse" id="collapseExampleNAVER">
    
    <div class="card-group" style="text-align: center;">
        <div class="card bg-secondary bg-gradient bg-opacity-25">
          {% include "carousel_네이버.html" %}
          <div class="card-body">
            <h5 class="card-title">2021년도 판매 되는 책들의 키워드 분석 </h5>
            
            
          </div>
        </div>
    </div>
  </div>