<div style="text-align: center;">
<nav>
  <div class="nav nav-tabs" id="nav-tab" role="tablist">
    <button class="nav-link active" id="nav-cont1-tab" data-bs-toggle="tab" data-bs-target="#nav-cont1" type="button" role="tab" aria-controls="nav-cont1" aria-selected="true">경제 경영</button>
    <button class="nav-link" id="nav-cont2-tab" data-bs-toggle="tab" data-bs-target="#nav-cont2" type="button" role="tab" aria-controls="nav-cont2" aria-selected="false">여행</button>
    <button class="nav-link" id="nav-cont3-tab" data-bs-toggle="tab" data-bs-target="#nav-cont3" type="button" role="tab" aria-controls="nav-cont3" aria-selected="false">IT 컴퓨터</button>
    <button class="nav-link" id="nav-cont4-tab" data-bs-toggle="tab" data-bs-target="#nav-cont4" type="button" role="tab" aria-controls="nav-cont4" aria-selected="false">취미 여가</button>
  </div>
</nav>
<div class="tab-content" id="nav-tabContent">
  <div class="tab-pane fade show active" id="nav-cont1" role="tabpanel" aria-labelledby="nav-cont1-tab"><br>
    <img src="static/item4_경제1.PNG" height="40%" width="50%"><br><br>
    <img src="static/item4_경제2.PNG" height="40%" width="50%"><br><br>
        <img src="static/item4_경제3.PNG" height="40%" width="50%"><br><br>
        <img src="static/item4_경제4.PNG" height="40%" width="50%"></div>

  <div class="tab-pane fade" id="nav-cont2" role="tabpanel" aria-labelledby="nav-cont2-tab"><br>
    <img src="static/item4_여행1.PNG" height="40%" width="50%"><br><br>
    <img src="static/item4_여행2.PNG" height="40%" width="50%"></div>

  <div class="tab-pane fade" id="nav-cont3" role="tabpanel" aria-labelledby="nav-cont3-tab"><br>
    <img src="static/item4_컴퓨터1.PNG" height="40%" width="50%"><br><br>
    <img src="static/item4_컴퓨터2.PNG" height="40%" width="50%"><br><br>
        <img src="static/item4_컴퓨터3.PNG" height="40%" width="50%"><br><br>
        <img src="static/item4_컴퓨터4.PNG" height="40%" width="50%"></div>

  <div class="tab-pane fade" id="nav-cont4" role="tabpanel" aria-labelledby="nav-cont4-tab"><br>
    <img src="static/item4_취미1.PNG" height="40%" width="50%"><br><br>
    <img src="static/item4_취미2.PNG" height="40%" width="50%"><br><br>
        <img src="static/item4_취미3.PNG" height="40%" width="50%"><br><br>
        <img src="static/item4_취미4.PNG" height="40%" width="50%"></div>
</div>
</div>