<div class="card-group" >
    <div class="card">
      <div class="card-body">
        <h5 class="card-title"><h2>Analysis Result</h2></h5>
        <p class="card-text"> 
          <!-- 4년간 베스트셀러의 분야 분포를 파이그래프로 나타내 보았습니다. <br>  -->
          4년간의 변화추이를 살펴보면 경제/경영 분야가 꾸준히 증가하였고,
          2019년 기준으로 자기 계발 분야가 크게 증가한 변화추이를 볼 수 있습니다. <br></p>
        <!-- <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p> -->
        </div>
        <img src="static/gra.png" class="card-img-top" alt="..." width="85%" height="85%">
    </div>

    <div class="card">
      <img src="static/book2.png" class="card-img-top"  width="85%" height="85%" alt="..."> &nbsp;&nbsp;&nbsp;
      
      <div class="card-body">
        <h5 class="card-title"></h5>
        <p class="card-text">
          &#5125; 인문학은 모든 학문의 기초가 되고 다양한 분야의 깊은 통찰력을 제공됨이 강조되면서
            문학보다 비문학의 비중이 증가됨을 볼 수 있다. <br>
            &#5125; 코로나로 인해 외국여행의 제한이 걸리면서 외국어 분야 도서 판매비율이 감소함을 볼 수 있다.<br>
            &#5125; 코로나의 장기화로 고용의 불안정과 소득 감소로 인해
            주식이나 비트코인에 대한 투자가 증가함에 따라 경제/경영 분야의 도서 판매비율이 가파르게 증가됨을 볼 수 있다.<br>
            &#5125; 도서 트렌드는 경제상황과 사회적 이슈에 영향을 받는다.

    
     </p>
      </div>
    </div>
    
      <div class="card">
        <div class="card-body"></div>
        <img src="static/pi.png" class="card-img-top" alt="...">
        <div class="card-body">
          <!-- <h5 class="card-title"><h2>Analysis Result</h2></h5> -->
          <h5>&#5125;&nbsp;4년간 종합 베스트셀러를</h5>
          <p class="card-text"> 합산한 파이그래프를 보면, <br>
            소설,시/에세이,경제/경영 분야가 가장 많이 판매되었음을 볼 수 있습니다. <br>  </p>
          <!-- <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p> -->
            </div>
          </div>
    
      
  </div>