<div id="carouselExampleControls3" class="carousel slide" >
    <div class="carousel-inner" style="text-align: center;">
      <div class="carousel-item active">
        <img src="static/best_it_2018 사본.png" class="d-block w-100" alt="...">
          
            <h5>2018년</h5>
      </div>
      <div class="carousel-item">
        <img src="static/best_it_2019 사본.png" class="d-block w-100" alt="...">
          
            <h5>2019년</h5>
      </div>
      <div class="carousel-item">
        <img src="static/best_it_2020 사본.png" class="d-block w-100" alt="...">
          
            <h5>2020년</h5>
      </div>
      <div class="carousel-item">
        <img src="static/best_it_2021 사본.png" class="d-block w-100" alt="...">
          
            <h5>2021년</h5>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls3" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls3" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>