<nav class="navbar navbar-expand-lg navbar-light bg-light"  style="background-color: #e3f2fd;">
    <div class="container-fluid">
      <img src="/static/bookclub.png" height="15%" width="10%">&nbsp;
      <a class="navbar-brand" href="/" ><b>도서 트렌드</b> 분석</a>&nbsp;
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse " id="navbarSupportedContent">
        <ul class="navbar-nav justify-content-center me-auto mb-2 mb-lg-0" >
          <li class="nav-item">
            <a class="nav-link " href="/index2">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/main">메인</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/team">팀</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>