{% extends "base.html" %}
{% block title %}팀 소개{%endblock%}
{% block content %}

 
<br>
<div class="container" style="text-align : center; padding: 50px 50px; background-color: white;">
    <div>
        <h1>절대안정 팀</h1>
    </div>
    <br>
    <div class="table-responsive">
        <table class="table align-middle">
          <thead>
            <tr>
                <td><b>이다윤</b></td>
                <td><b>우승수</b></td>
                <td><b>추성원</b></td>
                <td><b>양수미</b></td>
            </tr>
          </thead>
          <tbody>
            <tr>
                <td><img src="/static/pngtree.png" width="20%" height="20%"></td>
                <td><img src="/static/pngtree4.png" width="20%" height="20%"></td>
                <td><img src="/static/pngtree2.png" width="20%" height="20%"></td>
                <td><img src="/static/pngtree3.png" width="20%" height="20%"></td>
            </tr>
            <tr>
              <td>총괄지시</td>
              <td>웹페이지 제작</td>
              <td>웹페이지 제작</td>
              <td>웹페이지 제작</td>
            </tr>
            <tr>
                <td>데이터 분석</td>
                <td>데이터 분석</td>
                <td>데이터 분석</td>
                <td>데이터 분석</td>
              </tr>
              
          </tbody>
        </table>
      </div>
 
</div>


{%endblock%}